#profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-content {
    display: flex;
}

#profile-info {
    width: 100%;
}

.profile-image {
    aspect-ratio: 1 / 1;
    max-width: 75%;
    object-fit: contain;
    border-radius: 50%;
    border: solid var(--secondary-color) 1px;
}

#profile-posts {
    text-align: center;
    width: 50%;
}